@import "tailwindcss";

html, body {
  color: #fff;
  background: #1f1934;
}


main {
  background: #000000;
  height: 100vh;
  height: 100dvh;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}